<img class="Background" src="assets/background.png" rel="preload" alt="Background">
<div class="container">
  <div class="left">
    <img src="assets/Photos/{{artiste.id}}.jpg" width="400" height="400">
    <p></p>
    <p>Nom : <span>{{artiste.name}}</span></p>
    <p>Style : <span>{{artiste.style.name}}</span></p>
    <p>Nationalité : <span>{{artiste.nationalite.name}}</span></p>
    <p>Naissance : <span>{{artiste.birthDate | date : "dd/MM/yyyy"}}</span></p>
  </div>
  <div class="right">
    <table class="festival-table">
      <thead>
      <tr>
        <th>FESTIVAL</th>
        <th>LIEU</th>
        <th>DATE DE DEBUT</th>
        <th>DATE DE FIN</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>TOMMOROWLAND</td>
        <td>DE SCHORRE, BELGIQUE</td>
        <td>19/07/2024</td>
        <td>28/07/2024</td>
      </tr>
      <tr>
        <td>HELLFEST</td>
        <td>CLISSON, FRANCE</td>
        <td>27/06/2024</td>
        <td>30/06/2024</td>
      </tr>
      <tr *ngFor="let concert of artiste.concerts">
        <td>{{concert.concertName}}</td>
        <td>{{concert.lieu.name}}</td>
        <td>{{concert.debut | date : "dd/MM/yyyy"}}</td>
        <td>{{concert.fin | date : "dd/MM/yyyy"}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
