<img class="Background" src="assets/backgroundnologo.png" rel="preload" alt="Background">
<div class="container">
  <div class="left">
    <img src="assets/Photos/{{artiste.id}}.jpg" width="400" height="400">
    <p></p>
    <p>Nom : <span>{{artiste.name}}</span></p>
    <p>Style : <span>{{artiste.style.name}}</span></p>
    <p>Nationalité : <span>{{artiste.nationalite.name}}</span></p>
    <p>Naissance : <span>{{artiste.birthDate | date : "dd/MM/yyyy"}}</span></p>
  </div>
  <div class="right">
    <table class="festival-table">
      <thead>
      <tr>
        <th>FESTIVAL</th>
        <th>LIEU</th>
        <th>DATE DE DEBUT</th>
        <th>DATE DE FIN</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let concert of artiste.concerts" (click)="onConcertClick(Number(concert.id))">
        <td>{{concert.concertName}}</td>
        <td>{{concert.lieu.name}}</td>
        <td>{{concert.debut | date : "dd/MM/yyyy"}}</td>
        <td>{{concert.fin | date : "dd/MM/yyyy"}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
