@use "src/theme";

@font-face {
  font-family: 'Gagalin';
  src: url('../../assets/Gagalin-Regular.otf') format('opentype');
}


nav {
  height: 80px;
background: linear-gradient(190deg, rgb(255, 241, 165) 1.9%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 100.5%);  font-family: 'Gagalin';

  div {
    height: 100%;
    display: flex;
    align-items: center;

    img {
      margin-left: 20px;
      height: 80px;
      transition: .3s;

      &:hover {
        animation: bounce 0.5s infinite alternate;
      }
    }

    .active {
      text-decoration: underline;
    }
  }
}

.mat-nav-list {
  margin-left: 50px;
  padding: 0;
  display: flex;
  
}

.mat-list-base .mat-list-item {
  font-size: 1.5em;
  font-family: 'Gagalin', sans-serif;
  color: theme.$white;
  transition: .3s;

  &:hover {
    animation: bounce 0.5s infinite alternate;
  }
}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05); 
  }
}