<div class="compte">
    <h1>MON COMPTE</h1>

    <div class="form-group">
        <label for="email">ADRESSE MAIL :</label>
        <input type="email" id="email" placeholder="Votre adresse mail" [(ngModel)]="mail">
    </div>

    <div class="form-group">
      <label for="password">MOT DE PASSE :</label>
      <input type="password" id="password" placeholder="Mot de passe" [(ngModel)]="password">
    </div>

    <div class="button-container">
        <button class="modify-button primary" (click)="onConnectButtonClick()">Connexion</button>
        <button class="modify-button">MODIFIER SON MOT DE PASSE</button>
    </div>
</div>
