<div class="compte">
    <h1>MON COMPTE</h1>
    
    <div class="form-group">
        <label for="nom">NOM :</label>
        <input type="text" id="nom" placeholder="Votre nom">
    </div>
    
    <div class="form-group">
        <label for="prenom">PRENOM :</label>
        <input type="text" id="prenom" placeholder="Votre prénom">
    </div>
    
    <div class="form-group">
        <label for="email">ADRESSE MAIL :</label>   
        <input type="email" id="email" placeholder="Votre adresse mail">
    </div>
    
    <div class="button-container">
        <button class="modify-button primary">Connexion</button>
        <button class="modify-button">MODIFIER SON MOT DE PASSE</button>
    </div>
</div>
