<div class="compte">
    <h1>MON COMPTE</h1>
    <label for="nom">NOM : </label>
    <input type="text" id="nom" placeholder="Votre nom">
    <br>
    <label for="prenom">PRENOM : </label>
    <input type="text" id="prenom" placeholder="Votre prénom">
    <br>
    <label for="email">ADRESSE MAIL : </label>   
    <input type="email" id="email" placeholder="Votre adresse mail">
    <br><br>
    <button class="modify-button">Connexion</button>
    <button class="modify-button">MODIFIER SON MOT DE PASSE</button>