@font-face {
    font-family: 'Gagalin';
    src: url('../../assets/Gagalin-Regular.otf') format('opentype');
  }

.Background {
    background-size: contain;
    background-position: center;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0px;
    }

body {
    font-family: 'Gagalin';
    background-color: #f4f4f4; 
}

.festival-table {
    width: 80%; 
    margin: 20px auto; 
    border-collapse: collapse;
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.festival-table th, .festival-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

}

.festival-table th {
    background-color: rgb(255, 241, 165);
    color: #000000; 
    font-weight: bold; 
    font-family: 'Gagalin';
    text-transform: uppercase; 
}

.festival-table tr:hover {
    background-color: #f1f1f1; 
}

.festival-table tr:last-child td {
    border-bottom: none; 
}

.festival-table thead tr {
    border-bottom: 5px solid #91542b;
}
