<img class="Background" src="assets/backgroundnologo.png" rel="preload" alt="Background">
    <table class="festival-table">
        <thead>
            <tr>
                <th>FESTIVAL</th>
                <th>LIEU</th>
                <th>DATE DE DEBUT</th>
                <th>DATE DE FIN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TOMMOROWLAND</td>
                <td>DE SCHORRE, BELGIQUE</td>
                <td>19/07/2024</td>
                <td>28/07/2024</td>
            </tr>
            <tr>
                <td>HELLFEST</td>
                <td>CLISSON, FRANCE</td>
                <td>27/06/2024</td>
                <td>30/06/2024</td>
            </tr>
            <tr *ngFor="let artist of (artists$| async)">
              <td>{{artist.name}} is my name</td>
              <td>{{artist.isGroup}}</td>
              <td>{{artist.birthDate| date : "dd/MM/yyyy"}}</td>
              <td>{{artist.id}}</td>
            </tr>
        </tbody>
    </table>

