<img class="Background" src="assets/background.png" rel="preload" alt="Background">
<div class="container">
  <div class="left">
    <img src="assets/Photos/2.jpg" width="400" height="400">
    <p></p>
    <p>Nom : <span>HellFest</span></p>
    <p>Pays : <span>France</span></p>
  </div>
  <div class="right">
    <table class="artiste-table">
      <thead>
      <tr>
        <th>ARTISTE</th>
        <th>NATIONALITÉ</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Queen</td>
        <td>Royaume-Uni</td>
      </tr>
      <tr>
        <td>Francis Cabrel</td>
        <td>France</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
