@font-face {
  font-family: 'Gagalin';
  src: url('../../assets/Gagalin-Regular.otf') format('opentype');
}

:host {
  display: flex;
  align-items: center;

  .Background {
    background-image: url('../../assets/oldbackground.png');
    background-size: contain;
    background-position: center;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0px; 
      }

  .bouton {
    width: 320px;
    height: 100px;
    background-color: rgb(200, 125, 76);
    border-radius: 50px;
    animation: bounce 0.5s infinite alternate, glow 0.5s infinite alternate;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

    position: absolute;
    top: 70%;
    left: 40%;
    font-size: 2em;

    font-family: 'Gagalin';
    color: white;
    text-shadow: 0 0 3px rgb(255, 241, 165), 0 0 10px rgb(255, 241, 165), 0 0 15px rgb(255, 241, 165);
    transition: .3s;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    line-height: 30px;
    cursor: pointer;
    &:hover {
      background-color: rgb(83, 54, 54); 
      color:rgb(255, 241, 165)
    }

}

  .title {
    text-align: center;
    font-family: Gagalin;
    font-size: 3.5em;
    font-weight: 700;
    margin: 30px 0;
    
  }

  p {
    text-align: center;
    margin-top: 30px;
    font-size: 1.3em;
    
  }

  
}

.pikachu {
  width: 42px; 
  height: auto; 
  position: absolute;
  top: 450px;
  left: 750px;
}

@keyframes bounce {
  from {
    transform: scale(1); 
  }
  to {
    transform: scale(1.05); 
  }
}



@keyframes glow {
  0% {
      text-shadow: 0 0 3px rgb(255, 241, 165), 0 0 5px rgb(255, 241, 165), 0 0 8px rgb(255, 241, 165);
  }
  100% {
      text-shadow: 0 0 5px black, 0 0 15px rgb(200, 125, 76), 0 0 20px rgb(200, 125, 76);
  }
}

